@font-face {
    font-face-name: "Arimo";
    src: url("../text/Arimo-Bold.ttf");
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #000154;
}
.wrapper{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}
.th-table-div-left-top{
    background-color:  #fafafa;
    width: 310px;
    height: 156px;
    color: #484848;
}
.choose-div{
    font-family: "Arimo";
    font-size: 18px;
}
.pricing-div{
    font-family: "Arimo";
    font-size: 30px;
}
.stan-th2-top{
    background-color:  #89c331;
    width: 277px;
    height: 70px;
    font-family: "Arimo";
    color:  #ffffff;
    font-size: 24px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);

}
.ultimate-th3-top{
    background-color:  #f04a56;
    width: 277px;
    height: 71px;
    font-family: "Arimo";
    font-size: 30px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.premium-th4-top{
    background-color:  #20807c;
    width: 277px;
    height: 70px;
    font-family: "Arimo";
    font-size: 24px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.first {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}
table{
    border-spacing: 0px;
}
.table-standard{
    background-color:  #fafafa;
    width: 277px;
    height: 86px;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.table-ULTIMATE{
    background-color:  #fafafa;
    width: 277px;
    height: 86px;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.table-PREMIUM{
    background-color:  #fafafa;
    width: 277px;
    height: 86px;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.table-div-nomer{
    font-family: "Arimo";
    color:  #484848;
    font-size: 60px;
    position: absolute;
    bottom: 10px;
    left: 35px;
    font-weight:bold
}
.table-div-nomer-top{
    font-family: "Arimo";
    color:  #484848;
    font-size: 24px;
    position: absolute;
    font-weight:bold;
    bottom: 42px;
    right: 106px;
}
.table-div-nomer-top-per{
    font-family: "Arimo";
    color:  #484848;
    font-size: 18px;
    position: absolute;
    bottom: 19px;
    right: 30px;
}

.storage{
    background-color:  #f2f2f2;
    width: 310px;
    height: 69px;
    text-align: center;
    font-family: "Arimo";
    color:  #484848;
    font-size: 16px;
    position: relative;
}
.storage-500gb, .storage-1000gb, .storage-2000gb{
    background-color:  #f2f2f2;
    width: 277px;
    height: 69px;
    text-align: center;
    font-family: "Arimo";
    color:  #484848;
    font-size: 16px;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.bandwidth-td{
    background-color:  #e3e3e3;
    width: 310px;
    height: 69px;
    text-align: center;
    position: relative;
    font-family: "Arimo";
    color:  #484848;
    font-size: 16px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.limited{
    background-color:  #e3e3e3;
    text-align: center;
    font-family: "Arimo";
    color:  #484848;
    font-size: 16px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.unlimited{
    background-color:  #e3e3e3;
    width: 310px;
    height: 69px;
    text-align: center;
    font-family: "Arimo";
    color:  #484848;
    font-size: 16px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.support{
    background-color:  #e3e3e3;
    width: 310px;
    height: 69px;
    text-align: center;
    font-family: "Arimo";
    color:  #484848;
    font-size: 16px;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.text-support{
    font-family: "Arimo";
    color:  #484848;
    font-size: 16px;
    background-color:  #e3e3e3;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.td-email{
    background-color:  #f2f2f2;
    width: 310px;
    height: 69px;
    position: relative;
    text-align: center;
    font-family: "Arimo";
    color:  #484848;
    font-size: 16px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.emails-25, .emails-45, .emails-65{
    background-color:  #f2f2f2;
    width: 277px;
    height: 69px;
    font-family: "Arimo";
    color:  #484848;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.div-products-text-img{
    background-color:  #f2f2f2;
    width: 310px;
    height: 69px;
    text-align: center;
    font-family: "Arimo";
    color:  #484848;
    font-size: 16px;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.products-20, .products-30, .products-60{
    background-color:  #f2f2f2;
    width: 277px;
    height: 69px;
    font-family: "Arimo";
    color:  #484848;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.div-img-text-users{
    background-color:  #e3e3e3;
    width: 310px;
    height: 69px;
    font-family: "Arimo";
    color:  #484848;
    font-size: 16px;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.users-1, .users-10, .users-15{
    font-family: "Arimo";
    color:  #484848;
    font-size: 16px;
    background-color:  #e3e3e3;
    width: 277px;
    height: 69px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.td-button-1{
    background-color:  #dddddd;
    height: 111px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

.td-button-2{
    background-color:  #eeeeee;
    height: 111px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.td-button-3{
    background-color:  #f4f4f4;
    height: 111px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.td-button-4{
    background-color:  #eeeeee;
    height: 111px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}
.button-contact{
    border-radius: 5px;
    background-color:  #484848;
    width: 192px;
    height: 49px;
    text-align: center;
    font-family: "Arimo";
    color:  #ffffff;
    font-size: 16px;
    font-weight:bold;
    margin-left: 57px;
    border: none;
    cursor: pointer;
}
.button-contact:hover{
    box-shadow: 0 3px 0px 0px #161414a3;
}
.buttom-boy-1{
    border-radius: 5px;
    background-color:  #89c331;
    width: 192px;
    height: 49px;
    text-align: center;
    font-family: "Arimo";
    color:  #ffffff;
    font-size: 16px;
    font-weight:bold;
    margin-left: 42px;
    border: none;
    cursor: pointer;
}
.buttom-boy-1:hover{
    box-shadow: 0 3px 0px 0px  #89c3318f;
}
.buttom-boy-2{
    border-radius: 5px;
    background-color:  #f04a56;
    width: 192px;
    height: 49px;
    text-align: center;
    font-family: "Arimo";
    color:  #ffffff;
    font-size: 16px;
    font-weight:bold;
    margin-left: 43px;
    border: none;
    cursor: pointer;
}
.buttom-boy-2:hover{
    box-shadow: 0 3px 0px 0px #f04a569e;
}
.buttom-boy-3{
    border-radius: 5px;
    background-color:  #20807c;
    width: 192px;
    height: 49px;
    text-align: center;
    font-family: "Arimo";
    color:  #ffffff;
    font-size: 16px;
    font-weight:bold;
    margin-left: 58px;
    border: none;
    cursor: pointer;
}
.buttom-boy-3:hover{
    box-shadow: 0 3px 0px 0px #17646096;
}
.fa{
    font-family: "FontAwesome";
    color:  #848484;
    font-size: 24px;
    margin-right: 7px;
}


